<div class="hero2">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">

          <input id="list-name" type="text" class="validate">
          <label for="list-name">List Name</label>
        </div>
        <div class="input-field col s6">
          <input id="list-creator" type="text" class="validate">
          <label for="list-creator">List Creator</label>
        </div>
      </div>


      <div class="row">
        <div class="col sm-6"> <a href="/lists"
            class="waves-effect waves-light btn-large red darken-2 create-list-submit"><i
              class="material-icons right">add_circle_outline</i>Create
            New List</a>
        </div>
        <div class="col sm-6"> <a id="back-button" href="/" class="waves-effect waves-light btn-large red darken-2"><i
              class="material-icons right">back</i>Back to Homepage</a>
        </div>
    </form>
  </div>
</div>