<nav>
  <div class="nav-wrapper red darken-2">
    <a href="#" class="brand-logo center"><i class="material-icons left">ac_unit</i><i
        class="material-icons left">card_giftcard</i>Cyber Santa Lists<i class="material-icons right">ac_unit</i><i
        class="material-icons right">card_giftcard</i></a>
    <i class="material-icons right">keyboard_return</i>
  </div>
</nav>
<div class="col sm-6"> <a id="back-button" href="/" class="waves-effect waves-light btn-large red darken-2"><i
      class="material-icons right">keyboard_return</i>Back to Homepage</a>
</div>
{{!-- List Inputs and button to submit/redirect to listpage --}}
<div class="hero2">
  <div class="create-form">
    <div class="row white-text">
      <form class="col s6">
        <div class="row">
          <div class="input-field col s8 offset-s7 red darken-2">
            <input class="white-text" id="list-name" type="text" data-length="15">
            <label class="white-text" for="list-name">List Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8 offset-s7 red darken-2">
            <input class="white-text" id="list-creator" type="text" data-length="15">
            <label class="white-text" for="list-creator">List Creator</label>
          </div>
        </div>
        <div class="row">
          <div class="col s3 offset-s8"> <a href="/lists"
              class="waves-effect waves-light btn-large red darken-2 create-list-submit"><i
                class="material-icons right">playlist_add</i>Create
              New List</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Footer --}}
<div class="snowfoot"></div>