<div>
<section class="container">

    <h3>List Name</h3>
    <input type="text" id="list-name" >

<h3>List Creator</h3>
<input type="text" id="list-creator">

    <button class="waves-effect waves-light btn create-list-submit">Create List</button>
</section>

</div>