<div>
    <section class="container">

        <h3>List Name</h3>
        <input type="text" id="list-name">

        <h3>List Creator</h3>
        <input type="text" id="list-creator">

                    <div class="col sm-6"> <a href="/lists"
                    class="waves-effect waves-light btn-large red darken-2 create-list-submit"><i
                        class="material-icons right">collections</i>Create List</a></div>
    </section>
</div>