<div class="hero">
    <div id="homepage-buttons" class="container">

        <div class="row">
            <div class="col sm-6"> <a id="add-lists-button" href="/create-list"
                    class="waves-effect waves-light btn-large red darken-2"><i
                        class="material-icons right">add_circle_outline</i>Create
                    New List</a></div>
            <div class="col sm-6"> <a id="view-lists-button" href="/lists"
                    class="waves-effect waves-light btn-large red darken-2"><i
                        class="material-icons right">collections</i>View All Lists</a></div>
        </div>
    </div>
</div>