{{!-- Homepage header --}}
<nav>
    <div id="navhome" class="nav-wrapper red darken-2">
        <a href="#" class="brand-logo center"><i class="material-icons left">ac_unit</i><i
                class="material-icons left">card_giftcard</i><i class="material-icons right">ac_unit</i><i
                class="material-icons right">card_giftcard</i>Cyber Santa Lists</a>
    </div>
</nav>
<canvas id="canvas"></canvas>
{{!-- Homepage buttons and links --}}
{{!-- <div class="hero"> --}}
      <h1 id="timer-heading">Days Until Christmas:</h1>
      <div id="timer">
          <div class="time">Days</div>
        <div class="time">Days</div>


      </div>
    <div id="homepage-buttons" class="container">
        <div class="row">
            <div class="col s4"><a id="homepage-button1" href="/create-list"
                    class="waves-effect waves-light btn-large red darken-2"><i
                        class="material-icons right">add_circle_outline</i>Create
                    New List</a></div>
            <div class="col s4"><a id="homepage-button2" href="/lists"
                    class="waves-effect waves-light btn-large red darken-2"><i
                        class="material-icons right">collections</i>View All Lists</a></div>
        </div>
    </div>
{{!-- </div> --}}

{{!-- Footer --}}
<div class="snowfoot"></div>
{{!-- <footer class="page-footer light-blue lighten-5">
    <div class="container">
        <div class="row">
            <div class="col 1 s12">
                <p class="blue-text right">© 2020 Copyright Plutonium Group</p>
                <p class="blue-text left">Merry Christmas Everyone!</p>
            </div>
        </div>
    </div>
</footer> --}}