{{!-- Header and homepage link --}}
<nav>
  <div class="nav-wrapper red darken-2">
    <a href="#" class="brand-logo center"><i class="large material-icons left">ac_unit</i><i
        class="large material-icons left">card_giftcard</i>Cyber Santa Lists<i class="large material-icons right">ac_unit</i><i
        class="large material-icons right">card_giftcard</i></a>
    <i class="material-icons right">keyboard_return</i>
  </div>
</nav>
<div class="col sm-6"> <a id="back-button" href="/" class="waves-effect waves-light btn-large red darken-2"><i
      class="material-icons right">keyboard_return</i>Back to Homepage</a>
</div>
{{!-- List buttons to change to single-list page --}}
<div class="hero3">
  <div class="container">
    <div class="row">
      <h1 class="select-list">Check it twice:</h1>
      {{#each lists}}
      <div class="col s3 test waves-effect waves-light btn-large red darken-2 list-buttons">
        <u>Name</u>: {{this.dataValues.listName}}<br>
        <u>Creator</u>: {{this.dataValues.listCreator}}<br>
        <a href="/single-list/{{this.dataValues.id}}"><button>See Gifts</button></a>
        <button class="delete-list-btn" data-listid={{this.dataValues.id}}>Delete List</button>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{!-- Footer --}}
<div class="snowfoot"></div>
{{!-- <footer class="page-footer light-blue lighten-5">
  <div class="container">
    <div class="row">
      <div class="col 1 s12">
        <p class="blue-text right">© 2020 Copyright Plutonium Group</p>
        <p class="blue-text left">Merry Christmas Everyone!</p>
      </div>
    </div>
  </div>
</footer> --}}