<table>
    <thead>
        <tr>
            <th>All Lists</th>
            <th>List Creator</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{#each List}}{{/each}}</th>
            <th>{{#each this.Creator}}{{/each}}</th>
        </tr>
    </tbody>
</table>