<div>
  <ul>
  {{#each lists}}
  	<button class="list-buttons">
  	   <p>Name: {{this.dataValues.listName}}</p>
       <p>Creator: {{this.dataValues.listCreator}}</p>
  	</button>
  {{/each}}
</ul>
</div>