<nav>
    <div class="nav-wrapper red darken-2">
        <a href="#" class="brand-logo center"><i class="material-icons left">ac_unit</i><i
                class="material-icons left">card_giftcard</i>Cyber Santa Lists<i
                class="material-icons right">ac_unit</i><i class="material-icons right">card_giftcard</i></a>
        <i class="material-icons right">keyboard_return</i>
    </div>
</nav>
<div class="col sm-6"> <a id="back-button" href="/" class="waves-effect waves-light btn-large red darken-2"><i
            class="material-icons right">keyboard_return</i>Back to Homepage</a>
</div>


<div class="hero4">
    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="input-field col s8">
                    <input type="text" id="gift-name" data-length="15">
                    <label for="gift-name">Name of Gift:</label>
                </div>
                <div class="input-field col s8">
                    <input type="text" id="gift-for" data-length="15">
                    <label for="gift-for">Who it is for:</label>
                </div>
                <div class="input-field col s8">
                    <input type="text" id="max-price" data-length="10">
                    <label for="max-price">Max Price for Gift:</label>
                </div>
                <button class="waves-effect waves-light btn create-gift-submit col s2 offset-s4"
                    data-listId={{list.id}}>Add Gift</button>
            </div>
        </div>
        <div class="col s6">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Name of Gift: </th>
                        <th>Who it is for: </th>
                        <th>Max Price for Gift: </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each gifts}}
                    <tr>
                        <td>{{this.dataValues.giftName}}</td>
                        <td>{{this.dataValues.giftFor}}</td>
                        <td>{{this.dataValues.giftMaxPrice}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{!-- Footer --}}
<div class="snowfoot"></div>
