<div class="hero4">
    <div class="row">
        <div class="input-field col s4">
            <input type="text" id="gift-name" class="validate">
            <label for="gift-name">Name of Gift:</label>
        </div>
        <div class="input-field col s4">
            <input type="text" id="gift-for" class="validate">
            <label for="gift-for">Who it is for:</label>
        </div>
        <div class="input-field col s4">
            <input type="text" id="gift-price" class="validate">
            <label for="gift-price">Price of Gift:</label>
        </div>
        <button class="waves-effect waves-light btn create-gift-submit" data-listId={{list.id}}>Submit</button>
    </div>
    <div class="row">
        <div class="gift-list">
            <ul>
                {{#each gifts}}
                <li>
                    <p>Name of Gift: {{this.dataValues.giftName}}</p>
                </li>
                <li>
                    <p>Gift for: {{this.dataValues.giftFor}}</p>
                </li>
                <li>
                    <p>Max Price: {{this.dataValues.giftMaxPrice}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col sm-6"> <a id="back-button" href="/" class="waves-effect waves-light btn-large red darken-2"><i
                class="material-icons right">back</i>Back to Homepage</a></div>
    {{!-- <div class="row">
        <div class="col sm-6"> <a href="/gifts"
                class="waves-effect waves-light btn-large red darken-2 create-list-submit">
                <i class="material-icons right">add_circle_outline</i></a>
        </div>
    </div> --}}
</div>