<input type="text" id="gift-name">
<input type="text" id="gift-for">
<input type="text" id="gift-price">

<button class="waves-effect waves-light btn create-gift-submit" data-listId={{list.id}}>Submit</button>

